<!-- Loads the path to your static files -->
{% extends 'Recon/Base.html' %}
{% load static %}
{% block title %}Metabolite Details{% endblock %}
{% block body %}
<h1>{{ metabolites.id }}</h1>
<h2>{{ metabolites.name}}</h2>
    <!-- Left Metabolite General -->
    <div class="col-sm-4 col-md-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="{% url 'detail_metabolite' metabolites.id %}">
                    {% if metabolites.id %}
                        <img src="{% static "Recon/images/BMIE.jpeg" %}" class="img-responsive">
                    {% else %}
                        <h3>No image to display</h3>
                    {% endif %}
                </a>
                <h1>{{ metabolites.id }} <small>{{ metabolites.name }}</small></h1>
            </div>
        </div>
    </div>


<!-- Right Metabolite information -->
        <div class="col-sm-8 col-md-8">
            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a href="{% url 'detail_metabolite' metabolites.id %}">View Metabolite detail</a></li>
            </ul>
               <div class="panel panel-default">
                  <div class="panel-body">
                    <table class="table" border="0.5px" >
                      <thead>
                          <tr>
                              <th>name</th>
                              <th>compartment</th>
                              <th>charge</th>
                              <th>formula</th>
                          </tr>
                      </thead>
                      <tbody>
                      <tr>
                          <td>{{ metabolites.name }}</td>
                          <td>{{ metabolites.compartment }}</td>
                          <td>{{ metabolites.charge }}</td>
                          <td>{{ metabolites.formula }}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
               </div>
        </div>


{% endblock %}
